<div class="login-container">
    <h2>ログイン</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
        <mat-form-field appearance="outline">
        <mat-label>メールアドレス</mat-label>
        <input matInput type="email" placeholder="例: user@example.com" formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
            メールアドレスを入力してください
            </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
            有効なメールアドレスを入力してください。
        </mat-error>
        </mat-form-field>

        <div *ngIf="loginError" class="error-message">
            {{ loginError }}
        </div>

        <mat-form-field appearance="outline">
            <mat-label>パスワード</mat-label>
            <input matInput type="password" placeholder="パスワードを入力してください" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                パスワードを入力してください
                </mat-error>
            </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            ログイン
        </button>

    </form>

</div>
