<nav class="app-navigation">
     <ul>
         <li><a routerLink="/app/dashboard" matTooltip="Homeに移動">HOME</a></li>
         <li><a routerLink="/app/daily-report" matTooltip="日報画面に移動">日報</a></li>
         <li><a routerLink="/app/weekly-report" matTooltip="週報画面に移動">週報</a></li>
         <li><a routerLink="/app/monthly-report" matTooltip="月報画面に移動">月報</a></li>
         <li><a routerLink="/app/user-settings" matTooltip="ユーザー設定に移動">ユーザー設定</a></li>
         <li><button (click)="onLogout()" matTooltip="ログアウトします">ログアウト</button></li>
     </ul>
</nav>